.outer
  .container
    %h1 Add an expense
    = render "expenses/form"
  - if @expenses.any?
    .container
      %h4.tag-line{style: "text-align: center;"}
        %span In
        = simple_form_for(:date_filters, method: :get, id: "date_filters") do |f|
          = f.input :month, collection: @month_hash, selected: @selected_month, label: false, include_blank: false, input_html: { onchange: "this.form.submit()" }
          = f.input :year, collection: @year_hash, selected: @selected_year, label: false, include_blank: false, input_html: { onchange: "this.form.submit()" }
        %span you spent

      .totals-overview
        %ol.totals
          - ["Per day", "Total"].each do |total|
            %li
              .category
                %span.color
                %span.activity= total
              .spent
                .spent-info
                  %span.amount{style: "color: #{total.pastel_color}"}
                    = "€ #{ExpenseStats.new(@timerange).send("#{total.underscore.gsub(" ", "_")}_spent")}"

      %hr
      .totals-overview
        %h4{style: "text-align: center;"}= "On the following stuff"
        %ol.totals
          - Category.with_expenses(@timerange).each do |category|
            %li
              .category
                %span.color
                %span.activity= category.name
              .spent
                %canvas.spent-chart{"data-color" => category.name.pastel_color, "data-spent" => ExpenseStats.new(@timerange, category).percentage_for_entity, :height => "100", :width => "100"}
                .spent-info
                  %span.amount{style: "color: #{category.name.pastel_color}"}
                    = "€ #{ExpenseStats.new(@timerange, category).amount_for_entity_timerange}"
                  %span.percent
                    = "#{ExpenseStats.new(@timerange, category).percentage_for_entity} %"
      %hr
      .totals-overview
        %h4{style: "text-align: center;"}= "In these shops"
        %ol.totals
          - Shop.with_expenses(@timerange).each do |shop|
            %li
              .shop
                %span.color
                %span.activity= shop.name
              .spent
                %canvas.spent-chart{"data-color" => shop.name.pastel_color, "data-spent" => ExpenseStats.new(@timerange, shop).percentage_for_entity, :height => "100", :width => "100"}
                .spent-info
                  %span.amount{style: "color: #{shop.name.pastel_color}"}
                    = "€ #{ExpenseStats.new(@timerange, shop).amount_for_entity_timerange}"
                  %span.percent
                    = "#{ExpenseStats.new(@timerange, shop).percentage_for_entity} %"
      - unless @timerange.first > Date.today || @timerange.last < Date.today
        %hr
        %h4{style: "text-align: center;"}= "So you're left with"
        .totals-overview
          %ol.totals
            - ["Per day", "Total"].each do |total|
              %li
                .category
                  %span.color
                  %span.activity= total
                .spent
                  .spent-info
                    %span.amount{style: "color: #{total.pastel_color}"}
                      = "€ #{ExpenseStats.new(@timerange).send("#{total.underscore.gsub(" ", "_")}_left")}"
    .container
      %h1= "Expenses of #{@timerange.first.strftime("%B %Y")}"
      %table
        %thead
          %tr
            %th Amount
            %th Description
            %th Shop
            %th Category
            %th Date
        %tbody
          - @expenses.each do |expense|
            %tr
              %td= "€ #{expense.amount}"
              %td= link_to truncate(expense.description, length: 30), expense_path(expense)
              %td= expense.shop.name
              %td= expense.category.name
              %td= expense.date.strftime("%Y/%m/%d")
  - else
    .container
      %h4.tag-line{style: "text-align: center;"}
        %span You spent nothing in
        = simple_form_for(:date_filters, method: :get, id: "date_filters") do |f|
          = f.input :month, collection: @month_hash, selected: @selected_month, label: false, include_blank: false, input_html: { onchange: "this.form.submit()" }
          = f.input :year, collection: @year_hash, selected: @selected_year, label: false, include_blank: false, input_html: { onchange: "this.form.submit()" }
